body { 
  margin: 0 auto;
  width: 550px;
}

h1 {
  color:#ba3925;font-family: Georgia, "URW Bookman L", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
